.gg-sort-az,
.gg-sort-az::after,
.gg-sort-az::before {
    display: block;
    box-sizing: border-box;
    height: 2px;
    border-radius: 4px;
    background: currentColor
}
.gg-sort-az {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 8px
}
.gg-sort-az::after,
.gg-sort-az::before {
    content: "";
    position: absolute
}
.gg-sort-az::before {
    width: 12px;
    top: -4px;
    left: -2px
}
.gg-sort-az::after {
    width: 4px;
    top: 4px;
    left: 2px
}

.gg-trash {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 10px;
	height: 12px;
	border: 2px solid transparent;
	box-shadow:
			0 0 0 2px,
			inset -2px 0 0,
			inset 2px 0 0;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	margin-top: 4px
}
.gg-trash::after,
.gg-trash::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute
}
.gg-trash::after {
	background: currentColor;
	border-radius: 3px;
	width: 16px;
	height: 2px;
	top: -4px;
	left: -5px
}
.gg-trash::before {
	width: 10px;
	height: 4px;
	border: 2px solid;
	border-bottom: transparent;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	top: -7px;
	left: -2px
}